<section class="categories-container">
  <h2 class="categories-header">Categories</h2>

  <mat-list class="categories-list">
    @for(category of categories; track category.id) {
      <div class="item-list">
        <div class="category-content" [style.background-color]="category.color">
          <img [src]="category.iconPath" width="65px" height="65px" />
        </div>

        <span class="category-name">{{ category.name }}</span>

        <div class="update-transaction-button-container">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openDeleteCategorynDialog('250ms', '250ms', category.id)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
            <button mat-menu-item (click)="openUpdateCateogryDialog('250ms', '250ms', category.id)">
              <mat-icon>update</mat-icon>
              <span>Update</span>
            </button>
          </mat-menu>
        </div>
      </div>
    }
  </mat-list>

  <div class="add-button-container">
    <button mat-fab class="add-button" (click)="openAddNewCategoryDialog('250ms', '250ms')">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</section>

