<!-- <p>category-selector works!</p> -->
<mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">kat 1</mat-radio-button>
    <mat-radio-button value="2">kat 2</mat-radio-button>
    <mat-radio-button value="3">kat 3</mat-radio-button>
    <mat-radio-button value="4">kat 4</mat-radio-button>
    <mat-radio-button value="5">kat 5</mat-radio-button>

    <mat-radio-button value="1">kat 6</mat-radio-button>
    <mat-radio-button value="2">kat 7</mat-radio-button>
    <mat-radio-button value="3">kat 8</mat-radio-button>
    <mat-radio-button value="4">kat 9</mat-radio-button>
    <mat-radio-button value="5">kat 10</mat-radio-button>
  </mat-radio-group>