<h2 mat-dialog-title class = "header">Add Account</h2>
<mat-dialog-content>
    <div class = "form">
        <form [formGroup]="addAccountForm" (ngSubmit)="handleSubmit()">
            <div>
                <mat-form-field>
                    <mat-label>Account name</mat-label>
                    <input matInput formControlName = "name" placeholder="Account">
                    @if(addAccountForm.get('name')?.hasError('required')) {
                        <mat-error>This filed is required</mat-error> 
                    }
                    @if(addAccountForm.get('name')?.hasError('minlength')) {
                        <mat-error>This field must be at least 3 characters long</mat-error> 
                    }
                    @if(addAccountForm.get('name')?.hasError('pattern')) {
                        <mat-error>This field must contain a letter</mat-error> 
                    }
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>Balance</mat-label>
                    <input matInput formControlName="balance" placeholder="Initial account balance">
                    @if(addAccountForm.get('balance')?.hasError('required')) {
                        <mat-error>This filed is required</mat-error> 
                    }
                    @if(addAccountForm.get('balance')?.hasError('min')) {
                        <mat-error>Balance cannot be negative</mat-error> 
                    }
                    @if(addAccountForm.get('balance')?.hasError('pattern')) {
                        <mat-error>Balance must be a number</mat-error> 
                    }
                </mat-form-field>
            </div>

            <div class = "buttons">
                <div>
                    <button mat-raised-button type="submit" [disabled]="!addAccountForm.valid">Submit</button>
                </div>

                <div>
                    <button type="button" mat-raised-button (click)="closeDialog()">Close</button>
                </div>
            </div>
        </form>
    </div>
</mat-dialog-content>
