<mat-card class = "container">
    <mat-card-content>
           <mat-list>
                @for( acc of accountsList; track acc.name) {
                    <mat-list-item><app-account-list-item [account]="acc"></app-account-list-item></mat-list-item>                    
                }
           </mat-list> 
    </mat-card-content>
    <mat-action-list>
        <div class="example-button-container">
            <button mat-fab (click)="openDialogWithAddAccountForm('250ms', '250ms')">
              <mat-icon>add</mat-icon>
            </button>
          </div>
    </mat-action-list>
</mat-card>
