<section class="add-transaction-container">
  <h2 class="add-transaction-header">Add Transaction</h2>

  <form class="add-transaction-form" [formGroup]="transactionForm" (ngSubmit)="onTransactionConfirmed()">
    <app-transaction-type (transactionTypeChange)="onTransactionTypeChange($event)"></app-transaction-type>

    <div class="amount-account-container">

      <app-account-selector
        [accounts]="accounts"
        [selectedAccountId]="transactionForm.get('accountId')?.value"
        (accountChange)="onAccountSelected($event)">
      </app-account-selector>

      <section class="amount-container">
        <img class="money-icon" src="/icons/money.png" alt="Money Icon" width="60px" height="50px">

        <mat-form-field class="amount-form">
          <mat-label>Amount</mat-label>
          <input
            matInput
            type="number"
            class="example-right-align"
            placeholder="0"
            min="0.01"
            step="0.01"
            formControlName="amount"
          />    <span matTextSuffix>PLN</span>
        </mat-form-field>
      </section>
    </div>


    <div class="description-container">
      <mat-form-field class="description-form">
        <mat-label>Description</mat-label>
        <input
          matInput
          type="text"
          class="example-right-align"
          formControlName="description"
        />

        @if(transactionForm.get('description')?.hasError('maxlength')) {
          <div>
            Description cannot exceed 20 characters.
          </div>
        }

      </mat-form-field>
    </div>

    <app-category-selector [categories]="categories" (categoryChange)="onCategoryChange($event)"></app-category-selector>

    <div class="date-container">
      <div class="date-selector-container">
        <mat-form-field>
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <app-recurring-payment (recurringChange)="onRecurringChange($event)"></app-recurring-payment>
    </div>

    <div class="submit-button-container">
      <button mat-fab class="submit-button">
        <mat-icon>add</mat-icon>
      </button>
    </div>

  </form>
</section>


