button {
  background-color: yellow;
  width: 120px;
  height: 50px;
  font-weight: bold;
  border-radius: 30px;
  border: 1px solid white;
}

button:hover {
  background-color: #ffff99;
}


.recurring-transaction-container {
  display: flex;
  align-items: end;
  gap: 20px;
}
