<div class = "container">
    <mat-card appearance="outlined">
        <mat-card-content>
        
            @if(categorySummary.length === 0) {
                <div>
                    <b>No transactions for any category</b>
                </div>
            } @else {
                <mat-list>
                    @for (category of categorySummary; track category.name) {
                        <mat-list-item>
                            <div class="category-row">
                                <span class="category-path" 
                                      [ngStyle]="{ 'background-color': category.color }">
                                      <img [src]="category.iconPath" 
                                           alt="{{category.name}} icon" 
                                           width="20px" 
                                           height="20px" />
                                </span>
                                <span class="category-name">{{category.name}}</span>
                                <span class="category-percentage">{{category.percentage | percentage}}</span>
                                <span class="category-amount">{{category.amount}}</span>
                            </div>
                        </mat-list-item>
                    }
                </mat-list>
            }

            
           
        </mat-card-content>
    </mat-card>
</div>

  
