.add-transaction-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.amount-account-container {
    background-color: rgb(227, 227, 227);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 800px;
}

.add-transaction-header {
    background-color: rgb(126, 222, 106);
    width: 800px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}


.amount-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.amount-form {
  display: flex;
  align-items: end;
  margin-top: 20px;
}


.submit-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.93);
  height: 140px;
  width: 800px;
  border-radius: 5px;
  box-shadow: 0px -4px 4px -2px rgba(0, 0, 0, 0.2);

}

.submit-button {
  background-color: yellow;
  color: black;
}

.submit-button:hover {
  background-color: #ffff99;
}
