.update-recurring-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.update-recurring-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
