<div class="financial-analysis-container">
  <div class="title">
    Financial Analysis
  </div>

  <div class="filter-buttons">
    <button mat-button [ngClass]="{ 'active' : activeFilter === 'day' }" (click)="filterBy('day')">Dzień</button>
    <button mat-button [ngClass]="{ 'active' : activeFilter === 'week' }" (click)="filterBy('week')">Tydzień</button>
    <button mat-button [ngClass]="{ 'active' : activeFilter === 'month' }" (click)="filterBy('month')">Miesiąc</button>
    <button mat-button [ngClass]="{ 'active' : activeFilter === 'year' }" (click)="filterBy('year')">Rok</button>
    <button mat-button [ngClass]="{ 'active' : activeFilter === 'custom' }" (click)="filterBy('custom')">Okres</button>
  </div>

  <div class="financial-summary">
    <div class="summary-item">
      <span class="summary-title">Income</span>
      <span class="summary-value income">+{{ income | number:'1.2-2'}} PLN</span>
    </div>
    <div class="summary-item">
      <span class="summary-title">Expense</span>
      <span class="summary-value expense">-{{ expense | number:'1.2-2'}} PLN</span>
    </div>
    <div class="summary-item">
      <span class="summary-title">Balance Sheet</span>
      <span class="summary-value balance">{{ balanceSheet | number:'1.2-2'}} PLN</span>
    </div>
  </div>

<!--  <canvas id="financialChart"></canvas>-->

</div>
