<div class="container">
    <mat-card appearance="outlined">

        <!-- @if(categoryChartData.length !== 0) {

        } -->
        <mat-card-content>

            <canvas id="CategoryChart"> {{ categoryChartData }}</canvas>
        
        </mat-card-content>

        <mat-card-actions>
            <div class="button">
                <a mat-list-item routerLink="/transactions" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-raised-button>Add</button></a>
            </div>
        </mat-card-actions>
    </mat-card>
</div>

