.add-category-dialog{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-category-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

mat-dialog-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
