<section class="transaction-type-container">
  <mat-card>
    <mat-card-content>
      <h2 class="transaction-type-title">Transaction type</h2>

      <div class="transaction-type-checkboxs-section" [formGroup]="formGroup">
        <mat-radio-group formControlName="type">
          <mat-radio-button class="transaction-type-checkboxs" value="expense">
            Expense
          </mat-radio-button>
          <mat-radio-button class="transaction-type-checkboxs" value="income">
            Income
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </mat-card-content>
  </mat-card>
</section>

