<div class = "container">
    <div class = "left">
        <p>{{account?.name}}</p>
    </div>

    <div class="center">
      <p>{{account?.balance | currency:'PLN '}}</p>
    </div>
    
    <div class = "right">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
       
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
            <button mat-menu-item>
              <mat-icon>update</mat-icon>
              <span>Update</span>
            </button>
          </mat-menu>
    </div>

      
</div>


