.container{
    display: flex;
    height: 90px;
    gap: 20px;
    background-color: rgb(237, 247, 237);
    border-radius: 15px;
    margin: 10px auto;
    align-items: center;
} 

.left{
    margin-right: auto;
    margin-left: 10px;
}

.center{
    margin-left: auto;
}

.right{
    margin-left: auto;
}