.update-transaction-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  width: 300px;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.updateTransactionForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
