<div class="history-container">
  <div class="title">
    History
  </div>

  <div class="filter-buttons">
    <button mat-button [ngClass]="{ 'active' : activeFilter === 'day' }" (click)="filterBy('day')">Dzień</button>
    <button mat-button [ngClass]="{ 'active' : activeFilter === 'week' }" (click)="filterBy('week')">Tydzień</button>
    <button mat-button [ngClass]="{ 'active' : activeFilter === 'month' }" (click)="filterBy('month')">Miesiąc</button>
    <button mat-button [ngClass]="{ 'active' : activeFilter === 'year' }" (click)="filterBy('year')">Rok</button>
    <button mat-button [ngClass]="{ 'active' : activeFilter === 'custom' }" (click)="filterBy('custom')">Okres</button>
  </div>

  <mat-nav-list class="transaction-container">
    <mat-list-item *ngFor="let transaction of filteredTransactions">
      <div class="transaction-item">
        <span class="transaction-date">{{ transaction.date | date: 'dd-MM-yyyy' }}</span>
        <span class="transaction-description">{{ transaction.description }}</span>
        <span class="transaction-amount" [ngClass]="{ 'expense': transaction.type === 'expense', 'income': transaction.type === 'income' }">
          {{ transaction.type === 'expense' ? '-' : '' }}{{ transaction.amount | number:'1.2-2'}} PLN
        </span>
      </div>
    </mat-list-item>
  </mat-nav-list>
</div>

