.container {
  height: 100vh;
}

.sidenav {
  width: 220px;
  background-color: lightgreen;
  border-radius: 5px;
}

.nav-header {
  font-size: 20px;
  margin: 5px 5px;
  padding: 15px 15px;
  font-weight: bold;
  background-color: rgb(126, 222, 106);
  border-radius: 5px;
}

.link-list{
  margin-top: 50px;
}

.link-list a:hover{
  border: rgb(126, 222, 106) 1px solid;
  border-radius: 10px;
}

.content {
  background-color: rgb(235, 242, 235);
}
